.container .btn{
    position: relative;
top: 10rem; ;
    
}
.container .imagen_registro{
    margin-left: 79%;
    margin-top: 1%;
    
}
.container .Usuario{
    margin-left: -1rem; 
    margin-top: -4rem;
}

.container .nombre{
    margin-left: -1rem; 
    margin-top: -1rem; 
    font-size: 25px; 
    color: gray;
}